body{
  background-color: azure;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .container-auth-none {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .nav-menu {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-link {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  